body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.top
{ 
    text-align: center;
}
.background
{
    background-image: url(donation9.jpg);
    background-size: cover;
    background-size: 100% 100%;
    height: 600px;
}

h1{
    font-size: 60px;  
    font-weight: 700;
    color:white;
    padding-top: 20%;
    margin: 0%;
}
.inner-line{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
    color: rgb(35, 5, 5);
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 4%;
}
.anchor
{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(rgb(242, 117, 95),rgb(222, 59, 18));
    padding: 20px 25px;
    border-radius: 5px;
}
.middle{
    text-align: center;
}
.head
{
    
    color: black;
    margin: 0%;
}
.head-para
{
    font-size: 20px;
    color: rgb(92, 92, 92);
    padding-left: 20%;
    padding-right: 20%;

}
.button{
    border: none;
    color: gray;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-flex;
    font-size: 30px;
    margin: 4px 4px;
}
.one:hover{
    border: 3px solid tomato; 
    background-color: rgb(244, 208, 205);
   
}
.two:hover{
    border: 3px solid tomato;
    background-color: rgb(244, 208, 205);
    
}.three:hover{
    border: 3px solid tomato;  
    background-color: rgb(244, 208, 205);
}.four:hover{
    border: 3px solid tomato;  
    background-color: rgb(244, 208, 205);   
}.five:hover{
    border: 3px solid tomato;
    background-color: rgb(244, 208, 205); 
}
.amount{
    border-bottom: 2px solid gray;
    padding: 20px ;
}
.middle input
{
    width: 80%;
    height: 50px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 100;
}
.straight-line
{
    width: 80%;
    height: 0%;
    border: 1px solid gray;
    margin: 5px auto 40px auto;
}
.first-half h1{
    text-align: center;
    color: black;
}
.half h3{
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-top: 100px;
}
.first-para{
    text-align: center;
}
.text{
    display: flex;
    margin-bottom: 5%;

}
.middle-para{
    font-size: 20px;
    font-weight: 400;
    color: rgb(92,92,92);
}
.need
{
    width: 82%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 15px 30px gray;
    padding: 20px;
}
#l{
    background-color: rgb(206, 253, 253);

}
#r{
    background-color: bisque;
}
#m-r{
    background-color: rgb(251, 214, 167);
}
.bonus-up
{
    display: flex;
    margin-top: 10%;
}
.bonus h1
{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.bonus img{
    width: 100%;
}
.bonus-text{
padding: 20px;
margin-left: 10%;
margin-right: 10%;
}
.bonus-text p{
    margin-bottom: 10%;
}
.bonus-down{
    display: flex;
    margin: 5%;
}
.down-text{
    padding-left: 50px;
    margin-left: 10%;
}
.down-text p{
    margin-bottom: 10%;
}
.gmail{
    text-align: center;
    background-color: rgb(255, 212, 197);
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;

}
.mail h1{
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5%;
}
.mail input{
    width: 20%;
    height: 30px;
    background-position: center;
}
footer{
    text-align: center;
    background-color: rgb(14, 9, 9);
    margin: 0;
    height: 100px;
    padding: 10px;
}
footer h3{
    font-size: 20px;
    font-family: cursive;
    color: aliceblue;
}
footer p{
    font-size: 15px;
    font-family: cursive;
    color: aliceblue;
}

